#ScrollSequence {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark);
  overflow: hidden;
  position: relative;
}

#Canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
}

#CanvasWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  #Canvas {
    width: 100vw;
    height: 100vh;
    transform: none;
  }
}
