html,
body {
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif !important;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  height: var(--body-height);
}
:root {
  --body-height: 1000dvh;
}

#root,
main {
  width: 100%;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

img,
video {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

p {
  padding: 1rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
