.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  width: 100%;
  min-height: 99svh;
  overflow: auto;
}
.section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
