.section {
  height: 100dvh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}
.sections-wrapper {
  overflow-y: auto;
  height: 100vh;
}
