.project {
  padding-bottom: 2rem;
  box-sizing: border-box;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}
.project-info {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
