.project {
  padding-bottom: 2rem;
  min-height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.project-info {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
